<div class="h-100">
    <div class="grid">
        <div class="row">
            <div class="col-4">
                <div class="card p-4">
                    <div class="card-title">Tư vấn theo triệu chứng bệnh</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-4">
                    <div class="card-title">Tư vấn theo thể trạng</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-chat-bot></app-chat-bot>