.card {
    box-shadow: 6px 8px 42px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
    font-family: sans-serif !important;
    cursor: pointer;

    .card-title {
        font-size: 20px;
        font-weight: 600;
    }

    &:hover {
        transform: scale(1.1);
    }
    
}
.l-row {
    border-bottom: 1px solid #f0f0f0;
}

.l-input {
    outline: none;
    text-align: right;
    flex: 1;
    height: 48px;
}

.result {
    font-size: 20px;
    font-weight: 600;
    color: blue($color: #000000);
}