<div id="body">
  <div id="chat-circle" class="btn btn-raised" (click)="show($event)">
    <div id="chat-overlay"></div>
    <i class="material-icons">speaker_phone</i>
  </div>

  <div class="chat-box" *ngIf="showChat">
    <div class="chat-box-header">
      ChatBot
      <span class="chat-box-toggle" (click)="close()"><i class="material-icons">close</i></span>
    </div>
    <div class="chat-box-body" id="chatbot">
      <div class="chat-box-overlay"></div>
      <div class="chat-logs d-flex flex-column">
        <div class="group-message d-flex flex-row" [ngClass]="{ 'right' : item.author == 'you' }" *ngFor="let item of messages">
          <div class="text" [innerHTML]="item.message"></div>
        </div>
      </div>
      <!--chat-log -->
    </div>
    <div class="chat-input">
      <input type="text" id="chat-input" placeholder="Send a message..." [(ngModel)]="newMessage"
             (keyup.enter)="onSubmit(newMessage)"/>
      <button type="submit" class="chat-submit" id="chat-submit" (click)="onSubmit(newMessage)">
        <i class="material-icons">send</i>
      </button>
    </div>
  </div>
</div>
